*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url('https://cdn.pixabay.com/photo/2020/07/05/12/53/rainbow-5372892_960_720.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffe6ff;
    background-repeat: no-repeat;
    background-size: cover;
}
.drops {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.drop {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 41% 59% 48% 52% / 32% 52% 48% 68%  ;
    background-color: transparent;
    box-shadow: inset 10px 10px 10px rgba(0, 0, 0,0.07),
                15px  25px 10px  rgba(0, 0, 0, 0.1),
                15px 20px 20px rgba(0, 0, 0, 0.05),
                inset -10px -10px 15px rgba(255, 255, 255, 0.55);
    transform: translate(200px, 80px);
}   
/* .drop::before{
    content: '';
    position: absolute;
    background:#fff;
    top: 25px;
    left: 35px;
    width: 20px;
    height: 20px;
    border-radius: 85% 15% 70% 30% / 61% 19% 81% 39% ;
    
}   
.drop::after{
    content: '';
    position: absolute;
    background:#fff;
    top: 25px;
    left: 75px;
    width: 15px;
    height: 15px;
    border-radius: 70% 30% 70% 30% / 61% 38% 62% 39%  ;
} */
.drop:nth-child(2){
    transform: scale(0.5) translate(-300px, -250px);
    border-radius: 70% 30% 39% 61% / 61% 38% 62% 39% ;
}